.text-height {
    margin-bottom: 5% !important;
}

.carousel-caption {
    margin: 0 auto;
    width: 40%;
}

.button-style1 a {
    text-decoration: none !important;
}

.card-highlight {
    border-radius: 10px !important;
}

.special-card {
    transform: scaleY(1.1);
}

.button-style {
    border: none;
    width: 90% !important;
    background-color: white !important;
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem white !important;
}

.items {
    border: none;
}